:root {
    --filter_height: 50px;
    --list_margin_top: 100px;

    --button_bar_left_width: 180px;
}

.hide {
    display: none;
}

button {
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainlist-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* ------------------------------------------------------ */

.button_bar_left {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #e3eaff;
    min-width: var(--button_bar_left_width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
}

.button_bar_left button {
    transition:
        border-radius 0.125s ease-in-out,
        background-color 0.125s ease-in-out;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(236, 234, 234);
    width: 100%;
}

.button_bar_left button:hover {
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid blue;
    background-color: rgb(225, 219, 255);
}

.button_bar_left span {
    text-align: center;
    align-self: stretch;
    border-bottom: 2px solid black;
}

/* ------------------------------------------------------ */

.list_content {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border-collapse: collapse;
}

/* ------------------------------------------------------ */

.table_main th {
    height: 40px;
    text-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: bottom;
    color: green;
}

.table_main td {
    border: 1px solid black;
    text-align: center;
}

/* ------------------------------------------------------ */

.table_week th {
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    vertical-align: middle;
    color: green;
}

.table_week td:nth-child(1) {
    border: 4px solid black;
    text-align: right;
    font-size: 40px;
    font-weight: 1000;
}

.table_week td:nth-child(1n+2) {
    width: 150px;
    height: 70px;
    border: 4px solid black;
    text-align: left;
    font-size: 30px;
    font-weight: 1000;
    padding-left: 20px;
}

/* ------------------------------------------------------ */

.filters {
    margin-left: 50px;
    margin-right: 50px;
    background-color: gray;
    position: sticky;
    top: 0;
    height: var(--filter_height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 900px;
    width: 100%;
}

.filters span {
    color: black;
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.filter_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.file_choise {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-choose-file {
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.btn-choose-file:hover {
    background-color: lightgray;
}

/* ------------------------------------------------------ */

.changegewindetype {
    position: fixed;
    left: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.change_gt_innerbox {
    position: absolute;
    left: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change_gt_actions {
    display: flex;
    justify-content: space-between;
}

.change_gt_box {
    height: max-content;
    width: max-content;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    border: 4px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

/* ------------------------------------------------------ */

@media print {
    .list_type {
        display: block;
    }

    .button_bar_left {
        display: none;
    }

    .button_bar_right {
        display: none;
    }

    .filters {
        position: unset;
        min-width: unset;
    }

    .list_content {
        margin-top: 0;
        padding-left: 0;
    }

    .table_main th:last-child,
    .table_main td:last-child {
        display: none;
    }

    body {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}